<h4>Realizado por Xavi Linares Dalmau</h4>
<br>
<p>
  <a href="https://es.linkedin.com/in/xavilinares" target="_blank">
    <img src="/images/author.jpg" style='width:100%; max-width: 150px;' border="0" alt="Xavi Linares">
  </a>
</p>
<br>
<p>Proyecto desarrollado en el curso <i>Desarrollo de servicios en la nube con
  HTML5, Javascript y node.js</i> de Miriada X </p>
<br>
<iframe style= 'width:100%;max-width:500px; min-height:200px;'
src="http://www.youtube.com/embed/8I5VpIlwr54?autoplay=0">
</iframe>
